<div class="container">
    <h1>User Login</h1>
    <form class="form-horizontal" name="form" novalidate>
        <div class="form-group">
            <div class="col-md-2">
                <label>Username</label>
            </div>
            <div class="col-md-5">
                <input type="text" name="username" class="form-control" ng-model="username" required>
                <div class="alert alert-danger" ng-show="(form.username.$touched || form.$submitted) && form.username.$error.required"> Username is required </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Password</label>
            </div>
            <div class="col-md-5">
                <input type="password" name="password" class="form-control" ng-model="password" required>
                <div class="alert alert-danger" ng-show="(form.password.$touched || form.$submitted) && form.password.$error.required">Password is required</div>
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Submit" class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid" />
                <button class="btn btn-default" ng-click="register()">Register</button>
            </div>
        </div>
    </form>
</div>


